#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            
            bindings = <

                &kp A     &kp A     &kp A     &kp A     &kp A           &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
                &kp A     &kp A     &kp A     &kp A     &kp A           &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp RET
                                    &kp A     &kp A     &kp A           &kp V     &kp B     &kp N
            >;
        };
    };
};